<%- include('../layouts/header', { title: 'Contato' })%>
<%- include('../layouts/menu')%>

<body class="has-background-black">

    <div class="container p-4">
        <h1 class="title is-flex is-justify-content-center m-4">Fala comigo</h1>
        <div class="columns is-desktop mt-4">
            <div class="column is-6">
                <h1 class="subtitle">Olá! Seja muito bem-vindo </h1>
                <p class="py-4 pr-4">
                    Se você chegou aqui é porque gostou do projeto.
                    O objetivo deste projeto real é meramente pedagógico
                    e de fixação de conceitos muito importantes, utilizando
                    Bulma e o express. Bulma apenas para auxiliar o ExpressJs
                    onde este último teve a primazia da observância, (outros serão 
                    com foco apenas em bulma). Embora não fosse "difícil",
                    foi bastante trabalhoso por causa do modo específico
                    de relação do mongo. No geral, se tem aqui um projeto
                    utilizável, porém com aspectos técnicos muito importantes
                    (uns dos objetivos do projeto), onde no dia a dia
                    se tem até mesmo como referência básica e pessoal para consulta técnica.
                    Abraços e muito obrigado pela a atenção.
                </p>
            </div>
            <div class="column is-6">
                ...
            </div>
        </div>
    </div>

<%- include('../layouts/footer')%>
