<%- include('../layouts/header', { title: 'Página inicial' })%>
<%- include('../layouts/menu')%>

<body class="has-background-black">
      <div class="p-4 text-content has-text-centered">
        <h4 class="has-text-danger">Hello, World</h4>
        <h1>Eu sou o João Maia</h1>
        <h3>| Desenvolvedor web |</h3>
        <h2 class="p-4">Vamos criar uma lista de tarefas?</h2>
        <a href="/task/create-task" class="m-4 button is-outlined is-success">Criar lista</a>
        <div class="p-4">
            <ul class="is-flex is-justify-content-center">
                <li><a class="has-text-grey-darker" href="#"><i class="p-4 fab fa-instagram"></i></a></li>
                <li><a class="has-text-grey-darker" href="#"><i class="p-4 fab fa-facebook-f"></i></a></li>
                <li><a class="has-text-grey-darker" href="#"><i class="p-4 fab fa-github-alt"></i></a></li>
                <li><a class="has-text-grey-darker" href="#"><i class="p-4 fab fab fa-twitter"></i></a></li>
            </ul>
        </div>
      </div>
<%- include('../layouts/footer')%>