<nav class="level p-4">
    <p class="level-item has-text-centered">
        <a href="../pages/general-list" class="link has-text-grey-darker is-info">Home</a>
    </p>
    <p class="level-item has-text-centered">
        <a href="../pages/person-list" class="link has-text-grey-darker is-info">Pessoas</a>
    </p>
    <p class="level-item has-text-centered">
    <a href="../pages/index">
        <img src="https://bulma.io/images/bulma-type.png" alt="" style="height: 30px;">
    </a>
    </p>
    <p class="level-item has-text-centered">
        <a href="../pages/task-list" class="link has-text-grey-darker is-info">Tarefas</a>
    </p>
    <p class="level-item has-text-centered">
        <a href="../pages/contact" class="link has-text-grey-darker is-info">Contato</a>
    </p>
</nav>