<div class="container">
    <nav class="level p-4">
        <p class="level-item has-text-centered">
            <a href="/general-list" class="link has-text-grey-darker is-info">Home</a>
        </p>
        <p class="level-item has-text-centered">
            <a href="/persons" class="link has-text-grey-darker is-info">Pessoas</a>
        </p>
        <p class="level-item has-text-centered">
        <a href="/">
            <img src="https://bulma.io/images/bulma-type.png" alt="" style="height: 30px;">
        </a>
        </p>
        <p class="level-item has-text-centered">
            <a href="/tasks" class="link has-text-grey-darker is-info">Tarefas</a>
        </p>
        <p class="level-item has-text-centered">
            <a href="/contact" class="link has-text-grey-darker is-info">Contato</a>
        </p>
    </nav>
